.stats-cards {
  .mat-card {
    overflow: hidden;
  }
}

table {
  width: 100%;
}

a {
  text-decoration: none;
}

a:visited {
  color: #000;
}

.center {
  margin: auto;
  // width: 99%;
  // border: 1px solid green;
  // padding: 10px;
  margin: 10px;
  text-align: center;
}
