.stats-cards {
  .mat-card {
    height: 180px;

    overflow: hidden;
  }
}

table {
  width: 100%;
}

a {
  text-decoration: none;
}

a:visited {
  color: #000;
}

.demand-container {
  margin: 20px auto;
  // margin: 10px;
  text-align: center;
  height: 240px;
}

.demand-cards {
  height: 100%;
  text-align: center;
}

.demand-gauge {
  margin: 0px auto;
  padding: 20px 20px 0px 30px;
  // padding-left: 30px;
  text-align: center;
  height: 100%;
}

.center {
  margin: 10px auto;
  // margin: 10px;
  text-align: center;
}

.gauges {
  margin: 10px auto;
  // margin: 10px;
  text-align: center;
}

.energy-pie {
  // margin: 10px auto;
  // border: 2px green solid;
  margin: -30px 0px 0px -20px;
  // margin-top: -66px;
  // margin-bottom: 1px;
  // padding: 0px 0px 0px 20px;
  // width: 333px;
  // height: 100%;
  // border: 1px solid green;
  // padding: 10px;
  // padding-top: -40px;
  // padding-bottom: 40px;
  text-align: center;
}
