<div>
  <iframe
    width="800"
    height="600"
    src="https://app.powerbi.com/view?r=eyJrIjoiN2M2NGYxZDEtZmIwMi00ZDcyLWIwMDUtZjQzZTM2M2EzMzc5IiwidCI6ImNmYmJhODZlLTA0MjEtNGM1NC04YTAzLWNmZGZkMDAyMzQ3MCIsImMiOjF9"
    frameborder="0"
    allowFullScreen="true"
  ></iframe>

  <br /><br /><br />

  <iframe
    width="800"
    height="600"
    src="https://app.powerbi.com/view?r=eyJrIjoiZGM0OGJlYjktMzgxMi00YjU5LTg2OTEtZmI5Njc0MzJiM2Q3IiwidCI6ImNmYmJhODZlLTA0MjEtNGM1NC04YTAzLWNmZGZkMDAyMzQ3MCIsImMiOjF9"
    frameborder="0"
    allowFullScreen="true"
  ></iframe>
  <br /><br /><br />
</div>
